ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  color: #212121;
}
/*----------Header-----------*/
.header-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}
.header-list:hover {
  color: #2196f3;
}
.site-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.site-contacts:hover,
.site-contacts:focus {
  color: #2196f3;
}
.header-logo {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}
.blue-logo {
  color: #2196f3;
}
.header-link {
  text-decoration: none;
  color: #212121;
}
.header-link:hover,
.header-link:focus {
  color: #2196f3;
}

/*----------Hero-----------*/
.hero-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196f3;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

/*----------About-----------*/

.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.about-pre-title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
/*----------Aside-----------*/
.aside {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
/*----------User-----------*/

.user-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;

  letter-spacing: 0.03em;

  color: #212121;
}
.user-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  letter-spacing: 0.03em;

  color: #212121;
}

.user-pre-title {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: #757575;
}
/*----------Footer-----------*/
.footer {
  background-color: #2f303a;
  text-decoration: none;
}
.footer-logo {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
}
.footer-blue-logo {
  color: #2196f3;
}

.footer-subtitle {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #ffffff;
  text-decoration: none;
  font-style: normal;
}
.footer-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}
/*----------Portfolio-----------*/
.benefits-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.benefits-btn:hover,
.benefits-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.benefits-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: #212121;
}
.benefits-pre-title {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: #757575;
}
